@charset "utf-8";

#Koch-wrapper {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}
* {
	margin: 0px;
	padding: 0px;
}
#Koch-wrapper #box1 {
	height: 167px;
	width: 200px;
	background-color: #30393E;
	float: left;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #42cbbd;
}
#Koch-wrapper #title1 {
	height: 175px;
	width: 510px;
	float: left;
	margin-left: 90px;
}
#Koch-wrapper #title1 #titlepic {
}
#Koch-wrapper #MB_focus {
	width: 365px;
	height: 575px;
	float: left;
}
#Koch-wrapper #MB_focus #color_spacer2 {
	height: 292px;
	clear: both;
	width: 200px;
	background-color: #30393E;
	border-top-width: 8px;
	border-top-style: solid;
	border-top-color: #42cbbd;
}
#Koch-wrapper #focusbox {
	float: left;
	height: 275px;
	width: 365px;
}
#Koch-wrapper #focusright {
	float: left;
	height: 400px;
	width: 530px;
}
#Koch-wrapper  #focustitle  {
	float: left;
	width: 495px;
	height: 45px;
	padding-left: 15px;
	background-color: #FFFFFF;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000000;
	padding-top: 15px;
}
#Koch-wrapper  #focustext  {
	width: 486px;
	float: left;
	height: 192px;
	padding: 12px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
#Koch-wrapper #focusright #projectlinks a:link {
	background-color: #FFCC99;
	display: block;
	height: 31px;
	width: 236px;
	padding-top: 9px;
	padding-left: 12px;
	border-right-width: 2px;
	border-right-style: dashed;
	border-right-color: #FFFFFF;
	color: #000000;
}
#Koch-wrapper  #focusright  #projectlinks  a:visited {
	background-color: #FFCC99;
	display: block;
	height: 31px;
	width: 236px;
	padding-top: 9px;
	padding-left: 12px;
	border-right-width: 2px;
	border-right-style: dashed;
	border-right-color: #FFFFFF;
	color: #000000;
}
#Koch-wrapper  #focusright  #projectlinks  a:hover {
	background-color: #0066FF;
	display: block;
	height: 31px;
	width: 238px;
	padding-top: 9px;
	padding-left: 12px;
}
#screencap {
	float: left;
	height: 275px;
	width: 300px;
}
#Koch-wrapper #focusright #projectlinks {
	height: 240px;
	width: 501px;
	margin-top: 25px;
	float: left;
	margin-right: auto;
	background-color: #FFCC99;
}
#Koch-wrapper #focusright #projectlinks #PL2 {
	float: left;
	width: 250px;
}
#Koch-wrapper #focusright #projectlinks #PL1 {
	float: left;
	width: 250px;
}
.sitelinks1 {
	height: 31px;
	padding-left: 13px;
	padding-top: 9px;
	float: left;
	width: 237px;
}
.linkpic {
	height: 25px;
	width: 25px;
	float: left;
	margin-right: 12px;
	background-color: #000000;
	position: static;
	margin-top: 9px;
	margin-left: 9px;
}
#Koch-wrapper   #focusright   #projectlinks   #PL1   #hc  #hc2 {
	height: 30px;
	width: 30px;
}
h1 {
	font-size: 40px;
}
body {
	margin-bottom: 50px;
	margin-top: 0px;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#Koch-wrapper #footer {
	height: 10px;
	margin-top: 5px;
	clear: both;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
#Koch-wrapper #footer #ft2 {
	width: 250px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	clear: both;
}

